.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horixontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 33px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: var(--horixontal-space);
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon .fa-cog:hover {
  animation: rotatecog 3s ease-in-out infinite;
}
