.friend-display-link {
  text-align: center;
  display: block;
  border-radius: 10px;
  background-color: var(--pink);
  padding: 15px 0px;
  position: relative;
  width: 80%;
  right: 10%;
  left: 10%;
  height: 15px;
  margin-bottom: 10px;
  margin-top: -13px;
}

.friend-display-link i {
  color: white;
}

.friend-screen {
  padding: 0 var(--horixontal-space);
}

.friend-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  padding-top: 15px;
}

.friend-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.friend-screen__channel-header,
.user-component__column:last-child {
  color: var(--pink);
}

.user-component_bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.friend-screen .user-component {
  padding-bottom: 10px;
}
.friend-screen img {
  object-fit: cover;
}

@keyframes hidesplashscreen {
  form {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: pink;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  animation: hidesplashscreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}
